[user]
	name = Anton Shabat
	email = anton.shabat@gmail.com
[core]
	editor = nvim
[init]
	defaultBranch = main
[pull]
	rebase = true
; [url "git@github.com:"]
; 	insteadOf = https://github.com/
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
